@import "ember-power-select";

$gray: rgb(248, 249, 251);
$border-color: rgb(227, 232, 236);
$blue: #0070d2;
$green: #04844b;

html {
	height: 100%;
	background-color: rgba(255,255,255,1);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.underline {
	border-bottom: 1px solid $border-color;
	margin-bottom: 1em;
}

.slds-button--green {
	@extend .slds-button--neutral;
	background: $green;
	color: white;
}

.container {
	margin: 1rem auto;
	width: 90%;
	background: #fff;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

.header-container {
	background: $gray;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

.wizard-progress-list {
	li.active ~ li {
		background: $gray;
		color: #444;
	}
	li {
		padding: 5px 15px;
		cursor: pointer;
		background: $green;
		color: white;
		&.active {
			background: $blue;
		}
		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

.autocomplete-results {
	position: absolute;
	left: 0;
	border: 1px solid rgb(227, 232, 236);
	width: 80%;
	z-index: 565;
	background: white;
	line-height: 2rem;
	padding: 0 0.5rem;
	top: 2.5rem;
	div {
		border-bottom: 1px solid $border-color;
		&.highlighted, &:hover {
			background: $blue;
			color: white;
		}
	}
}

.slds-form--inline .slds-form-element__row:nth-child(even) {
	background: $gray;
}

.validity-indicator {
	font-size: 2em;
	line-height: 1em;
	&.valid {
		color: $green;
	}
	&.invalid {
		color: red;
	}
}
