<div class="slds-text-heading--label underline">Project Details</div>

<form class="slds-form--horizontal">
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="projectName">
			Project Name
		</label>
		<div class="slds-form-element__control">
			{{input value=projectName class="slds-input"}}
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="packageName">
			Package Name
		</label>
		<div class="slds-form-element__control">
			{{input value=packageName class="slds-input"}}
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="projectDescription">
			Project Description
		</label>
		<div class="slds-form-element__control">
			{{input value=projectDescription class="slds-input"}}
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="namespace">
			Namespace
		</label>
		<div class="slds-form-element__control">
			{{input value=projectNamespace class="slds-input"}}
		</div>
	</div>
</form>
